.top-level-domains {
    margin-top: 10px;
    gap: 12px;
}

.top-level-domains p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #212121;
}

.top-level-domains .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1937ba;
}